@model IEnumerable<Lekkerbek.Web.Models.Entities.Gerecht>

@{
    ViewData["Title"] = "Gerechten";
}

<h1>Gerechten</h1>

<p>
    <a asp-action="Create">Gerecht aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Aanpassen</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
